{
  "name": "{{INFO_NAME}}",
  "description": "{{SHORT_DESCRIPTION}}",
  "type": "{{TYPE}}",
  "source": "{{SOURCE}}",
  "collected_date": "{{DATE}}",
  "tags": [
    "{{TAG_1}}",
    "{{TAG_2}}"
  ]
}
